@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto+Condensed');

/// переменные
// цвета
$light-gray: #c1c1c1;
$soft-gray: #8c8c8c;
$bg-gray: #FAFAFA;
$dark-gray: #333;
$light-green: #1ac2c4;

// отступы
$left-ui-margin: 20px;
$top-margin: 70px;

// размеры
$ui-width: 270px;
$ui-height: 400px;
$ui-ava-height: 250px;

/// mixins
// mixin для ссылок
@mixin links-format($type) {

	@if $type == def {
		color: $light-green;
		font-family: Roboto;
		text-decoration: none;
		font-weight: 500;
		&:hover {			
			text-decoration: none;
			color: $dark-gray;
		}
		&:visited {
			text-decoration: none;
			color: $light-green;
		}		
		&:focus {			
			text-decoration: none;
			color: $light-green;
		}
	}
	@if $type == title {
		color: $dark-gray;
		text-decoration: none;
		font-weight: 500;
		&:focus {			
			text-decoration: none;
			color: $dark-gray;
		}
		&:hover {			
			text-decoration: none;
			color: $dark-gray;
		}
		&:visited {
			text-decoration: none;
			color: $dark-gray;
			border: 0;
		}
	}
}


#main {
	background-color: $bg-gray;
}

.tabs {
	box-shadow: 0 0 25px rgba(122,122,122,0.5);
}

// левый таб с инфой о владельце блога
.user-info-fixed {	
	width: $ui-width;
	height: $ui-height;
	position: fixed;
	margin-left: $left-ui-margin;
	margin-top: $top-margin;
	background-color: white;	

	h4 {
		text-align: center;
		font-weight: bold;
	}

	p {
		text-align: center;
		vertical-align: middle;
		color: $light-gray;
	}

	ul.user-social {
		text-align: center;
		margin: 0px;
		padding: 4px;
	}

	li {
		display: inline;
		margin-right: 10px;
		padding: 5px;

		.fa-github {
			color: #333333;
		}

		.fa-github:hover, .fa-vk:hover, .fa-telegram:hover {
			text-shadow: 0px 2px 5px;
		}
	}
}

.user-ava {
	width: $ui-width;
	height: $ui-ava-height;
}

// главный таб со статьями
.content {
	height: 3000px;
	width: 80%;
	margin-left: $left-ui-margin + $ui-width + 15px;
	margin-top: $top-margin;
	margin-bottom: 50px;
	padding: 10px 20px 0px 20px;
	background-color: white;
	word-wrap: break-word;	
}

.post-title {
	a {
		@include links-format(title);
	}

	h1 {
		font-weight: bold;
	}
}

.any-link {
	@include links-format(def);
}

.post-details {
	span {
		color: $soft-gray;
		font-weight: 500;
	}
	padding: 10px 0px 10px 10px;
}

.footer {
	height: 100px;
	width: 80%;	
	margin-left: $left-ui-margin + $ui-width + 15px;
	padding: 10px;
	background-color: white;
	word-wrap: break-word;

	p {
		text-align: center;
		vertical-align: middle;
	}
}

hr.dash {
	border-top: dashed;
	border-color: $light-gray; 
	border-width: 1px 0 0 0; 
	border-radius: 20px;
}

.page-name {
	color: $dark-gray;
	font-weight: bold;
}

.small-nav {
	.collapsed-icon {
		float: right;
		font-size: 25pt;
		padding-top: 20px;
	}

	h3 {
		display: inline-block;
		font-family: Roboto;
	}
}

.more {
	font-size: 14pt;
}

.collapsed {
	li {
		display: inline;
		padding-left: 20px;
		float: right;
	}
	a {
		font-weight: bold;
		font-size: 14pt;
	}
}
