<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="../static/css/style.css" class="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<title>zzdump</title>
</head>
<body>

	<div id="main">
		<div class="container">
			<div class="row">
				
				<!-- Информационная карточка -->
				<div class="user-info-fixed tabs">
					<div class="user-ava">
						<p>
							270x250
						</p>					
					</div>
					<div class="user-name">
						<h4>Александр Зайков</h4>
						<p class="skill">Инженер ИБ, Linux разработчик</p>
					</div>
					<hr class="dash">
					<ul class="user-social">
						<li>
							<a href="#"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
						</li>
					</ul>
				</div>
				
				<!-- Блок контента -->
				<div class="content tabs">
					<div class="small-nav">
						<h3>az-Dump</h3>
						<a href="#" class="any-link">
							<i class="fa fa-align-justify collapsed-icon"></i>
						</a>
					</div>

					<!-- Навигационная менюха -->
						<ul class="collapsed">
							<li><a href="#" class="any-link">Главная</a></li>
							<li><a href="#" class="any-link">Кто я</a></li>
						</ul>
					
					<!-- Сам пост -->
					<hr class="dash">
					<div class="posts">
						<div class="post-title">
							<a href="#">
								<h1>Заголовок поста</h1>
							</a>							
						</div>
						<div class="post-details">
							<span>28 Августа 2017</span>
						</div>
						<p>
							asdasdasdasdddddddddasdasdaskjdaskdjkasldjklasjdaklsjdaslkdjalkjdlkajsdlaksjdlkasjdlaksjdalksjdalksjdalksjdalksdjalksdjalskdjalskdjalksjdalksdjaslkdjalskdjalksdjalskdj
						</p>
						<br>
						<a href="#" class="any-link">Читать больше</a>
					</div>
					<!-- /Сам пост -->
				</div>

				<!-- Подвал с копирайтами 
				<div class="footer tabs">
					
				</div>
			</div>
		</div>
	</div>

</body>
</html>