<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="../static/css/style.css" class="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="https://use.fontawesome.com/d73c354b12.js"></script>

	<title>zzdump</title>
</head>
<body>

	<div id="main">
		<div class="container">
			<div class="row">
				
				<!-- Информационная карточка -->
				<div class="user-info-fixed tabs">
					<div class="user-ava">
						<p>
							270x250
						</p>					
					</div>
					<div class="user-name">
						<h4>Александр Зайков</h4>
						<p class="skill">Инженер ИБ, Linux разработчик</p>
					</div>
					<hr class="dash">
					<ul class="user-social">
						<li>
							<a href="#"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a>
						</li>
					</ul>
				</div>
				
				<!-- Блок контента -->
				<div class="content tabs">
					<div class="small-nav">
						<h3>az-Dump</h3>
						<a href="#" class="any-link">
							<i class="fa fa-bars collapsed-icon"></i>
						</a>
					</div>

					<!-- Навигационная менюха -->
					<span class="collapsed-menu">
						<ul class="collapsed">
							<li><a href="#" class="any-link">Кто я</a></li>
							<li><a href="#" class="any-link">Главная</a></li>
						</ul>
					</span>
					<br>
					<!-- Сам пост -->					
					<div class="posts">
						<hr class="dash">
						<span class="post-title">
							<a href="#">
								<h1>Заголовок поста</h1>
							</a>							
						</span>
						<div class="post-details">
							<span>28 Августа 2017</span>
						</div>
						<p>
							Статья́ — это жанр журналистики, в котором автор ставит задачу проанализировать общественные ситуации, процессы, явления, прежде всего с точки зрения закономерностей, лежащих в их основе.

Такому жанру, как статья, присуща широта теоретических и практических обобщений, глубокий анализ фактов и явлений, четкая социальная направленность[источник не указан 2888 дней]. В статье автор рассматривает отдельные ситуации, как часть более широкого явления. Автор аргументирует и выстраивает свою позицию через систему фактов.

В статье выражается развернутая обстоятельная аргументированная концепция автора или редакции по поводу актуальной социологической проблемы. Также, в статье журналист обязательно должен интерпретировать факты (это могут быть цифры, дополнительная информация, которая будет правильно расставлять акценты и ярко раскрывать суть вопроса).

Отличительным аспектом статьи является её готовность. Если подготавливаемый материал так и не был опубликован (не вышел в тираж, не получил распространения), то такой труд относить к статье некорректно. Скорее всего данную работу можно назвать черновиком или заготовкой. Поэтому целью любой статьи является распространение содержащейся в ней информации.


						</p>
						<br>
						<a href="#" class="any-link more">Читать больше</a>
					</div>
					<!-- /Сам пост -->
				</div>

				<div class="footer tabs">
					<p>Когда-нибудь тут что-нибудь будет</p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>